### .DS_Store ###
.DS_Store


### Xcode ###
build
*.xcodeproj/xcuserdata/**/*
*.xcodeproj/project.xcworkspace/xcuserdata/**/*
*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata/*.xcuserdatad/*
*/xcuserdata/*.xcuserdatad/xcdebugger/*
*.xcworkspace/xcshareddata/*
Pods/
